@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

:root {
  --color-primary: #FFBB36;
  --color-primary-hover: #edab31;

}

* {
  border: none;
  margin: 0px;
  padding: 0px;
  Font-family: "Open Sans", "Helvetica Neue", Sans
}
header {
  padding: 10px 0px;
  box-shadow: 1px 1px 5px 0px #cdcdcd;
 }

.section {
  display: flex;
  justify-content:center;
}

.container {
  max-width: 1360px;
  width:100%;
  padding: 10px;
}

.logo {
  font-size: 40px;
  font-family: "Vina Sans";
  text-align: center;
}

main{
  padding: 50px 0px;
  flex-direction: column;
}

.home{
  display: flex;
  gap: 5px;
  justify-content: center;
}
@media (max-width: 1100px){
  .home{
    flex-direction: column;
  }
}

.home > div{
  width: 100%;
  max-height: 500px;
  display: flex;

  justify-content: center;
  flex-direction: column;
}



.hero{
  max-width: 100%;
  max-height: 100%;

  width: auto;
  height: auto;
  object-fit: fill;
  align-self: center;
}
@media (max-width: 1100px){
  .hero{
    display: none
  }
}

.hero img{
  max-width: 100%;
  max-height: 100%;
}
form{
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;

  margin-top: 20px;
}
input {
  border: 1px solid #cdcdcd;
  padding: 15px;
  border-radius: 7px;
  font-size: 16px;
}

.submit {
  padding: 15px;
  border-radius: 7px;
  background: var(--color-primary);
  font-weight: 800;
  font-size: 16px;

  transition: all 0.3s;
}

.submit:hover {
  cursor: pointer;
  background: var(--color-primary-hover);
}
