<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Classificador de Estilo de Cerveja</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Adicione os links de fontes e estilos adicionais aqui, se necessário -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <header class="section">
    <div class="container">
      <div class="logo">Beer</div>
    </div>
  </header>
  <main class="section">
    <div class="container home">
      <div>
        <h2>Preencha com as avaliações da Cerveja</h2>
        <p>O modelo analisa avaliações como:<br>
          <b>Avaliação geral</b>, <b>aroma</b>, <b>aparência</b>, <b>paladar</b>, <b>sabor</b>, <b>teor alcoólico</b>
          <br>para prever o <b>estilo de cerveja. </b>
        </p>
        <form action="{{ url_for('predict') }}" method="post">
          <input type="number" min="0" max="5" name="review_overall" placeholder="Avaliação Geral"
            required="required" />
          <input type="number" min="0" max="5" name="review_aroma" placeholder="Avaliação de Aroma"
            required="required" />
          <input type="number" min="0" max="5" name="review_appearance" placeholder="Avaliação de Aparência"
            required="required" />
          <input type="number" min="0" max="5" name="review_palate" placeholder="Avaliação de Paladar"
            required="required" />
          <input type="number" min="0" max="5" name="review_taste" placeholder="Avaliação de Sabor"
            required="required" />
          <input type="number" min="0" max="100" name="beer_abv" placeholder="Teor Alcoólico" required="required" />

          <button type="submit" class="submit">Classificar</button>
        </form>
      </div>
      <div>
        <div class="hero">
          <img src="{{ url_for('static', filename='img/beer-1.png') }}" alt="Imagem de cerveja" />

        </div>
      </div>
    </div>
    <div class="container">
      {% if prediction_text %}
      <h1>Resultado:</h1>
      {{ prediction_text }}
      {% endif %}
    </div>
  </main>

</body>

</html>